[submodule "dev/vue/components/pages/laboratory/restaurant-menu-modal"]
	path = dev/vue/components/pages/laboratory/restaurant-menu-modal
	url = https://github.com/nobrefelipe/restaurant-menu-modal.git
