.web-development{

  .skills-icons{

    float: left;

    width: 100%;

    margin: 20px 0;

    li{

      padding: 10px 30px;


      @include mobile{

        padding: 16px;

      }


      img{

        display: block;

        height: 80px;


        @include mobile{

          height: 40px;

        }


      }

    }

  }

}