.wrapper{

  margin: 0 auto;

  width: 100%;

  max-width: $max-width;

}




/* TEXT ALIGNMENT */
.is-text-right{

  text-align: right;

}

.is-text-center{

  text-align: center;

}



/* COLOR */

.is-text-white{

  color: #EDEDED;

}

.is-text-pink{

  color: $pink;

}

.is-text-grey{

  color: $grey;

}


/* BACKGROUND OLOR */

.is-background-grey{

  background-color: $grey;

}

.is-background-pink{

  background-color: $pink;

}