@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

@font-face {

  font-family: 'vanadine';
  src: url('./static/fonts/vanadine_bold-webfont.eot');
  src: url('/static/fonts/vanadine_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/vanadine_bold-webfont.woff2') format('woff2'),
       url('/static/fonts/vanadine_bold-webfont.woff') format('woff'),
       url('/static/fonts/vanadine_bold-webfont.ttf') format('truetype'),
       url('/static/fonts/vanadine_bold-webfont.svg#vanadinebold') format('svg');
  font-weight: normal;
  font-style: normal;

}




body{

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;

}


p{

  font-weight: 300;
  font-size: 18px;
  margin: 0 0 15px 0;
  line-height: 28px;


  @include tabletLandscape{

    font-size: 16px;

  }

}

a{

  text-decoration: none;
  transition: all .3s ease-in;


  &:hover{

    color: $pink;

    svg{
      fill: $pink;
    }
  }

}

.view a,
.home a{

  &:not(.rmm-btn) {
    position: relative;

    &:hover {

      &:after {

        width: 100%;

        transition-delay: 0s;

      }
    }

    &:after {

      position: absolute;

      left: 0;

      bottom: -3px;

      content: '';

      width: 30px;

      height: 2px;

      background: $pink;

      transition: width .2s ease-in .1s

    }
  }

}



h1,h2,h3,h4{

  font-family: 'Vanadine';

}


h1{

  margin: 0 0 60px 0;

  text-align: center;
}


blockquote{

  float: left;

  width: calc(100% + 100px);

  background: $light_grey;

  margin: 40px 0;

  padding: 40px 30px;

  transform: translateX(-80px);

  text-align: center;

  font-size: 22px;

  line-height: 38px;

  letter-spacing: 2px;

  font-weight: 100;


  @include tablet{

    width: 100vw;

    transform: translateX(-20px);

  }

}


h5{

  font-size: 16px;

  font-weight: 400;

}