<section class="view lab">


  <h1>Lab</h1>

  <p class="is-text-center">

    Hi there, welcome to my Lab Page. Here you can find some personal projects and coding experiments that I put together both for pleasure and  learning new stuff.
    <br>
    I like to go to websites like <a href="https://site.uplabs.com/" target="_blank">Up Labs</a> and see what designers are up to, and try to develop their ideas

  </p>



  <div class="lab-collection is-flexy">

    <restaurant-menu-modal></restaurant-menu-modal>

  </div>

</section>

