*{

  padding: 0;

  margin: 0;

  list-style: none;

  color: $grey;

  box-sizing: border-box;

}


body{

  background: #F5F5F5;

}


.view{

  float: left;

  min-height: 100vh;

  width: 100%;

  transition: all 0.5s ease;

  padding: 60px 20px 80px 160px;

  background: #F5F5F5;


  p{

    margin-bottom: 25px;

  }


  @include tablet{

    padding: 120px 20px 40px;

  }


  &.photography{

    @include mobilePortrait{

      padding: 120px 00px 40px;

    }

  }


}