<section class="web-development view">

  <h1>WEB DEVELOPMENT</h1>

  <p class="is-text-center">

    Burgeoning screens mean the distance between the navbar and our thumbs has grown. <br>
    The screen on a 7 Plus is so tall it would take a thumb-length increase of 150 percent to reach those pesky buttons with one hand. <br>
    Just another knuckle or two. Nothing weird.

  </p>

  <!--<blockquote>-->

    <!--Burgeoning screens mean the distance between the navbar and our thumbs has grown. <br>-->
    <!--The screen on a 7 Plus is so tall it would take-->

  <!--</blockquote>-->



  <div class="features">

    <div class="features-item">

      <div>

        <img src="static/img/icontest.png" alt="">

        <p>This guide is very easy to grasp, even for a beginner likes me. Thanks for this gem</p>

      </div>

      <h5>Management</h5>

    </div>

  </div>



</section>

