<section class="home">

    <div class="home-left">

        <div class="presentation">

            <div class="introduction">

                Hi, I am

            </div>

            <div class="name">

                <svg role="img" title="FELIPE NOBRE">
                    <use xlink:href="./static/svg/svgstore.svg#felipenobre"/>
                </svg>


            </div>

            <div class="what">

                WEB DEVELOPER - PHOTOGRAPHER

            </div>

        </div>

    </div>


    <div class="home-right">


        <svg role="img" title="HELLO">
            <use xlink:href="./static/svg/svgstore.svg#hello"/>
        </svg>



        <p class="is-text-white">

            Hi there, my name is Felipe! <br>
            I am a design-oriented front end developer and travel photographer.
            <br><br>

            Need help with an upcoming project or application? Learn a bit more about me and then consider  <a href="mailto:felipe@nomade.studio" title="HIRE ME" class="is-text-white">hiring</a> me!
            <br><br>

            Check mu <a href="https://github.com/nobrefelipe" title="Github" class="is-text-white">Github</a> profile for more in depth idea of my coding skills
            and also my <a href="https://www.instagram.com/canalnomade/" title="Instagram" class="is-text-white">Instagram</a> account for more travel photographs!

        </p>


    </div>

</section>

