<section class="photography view ">

  <div class="filter" :class="{'show-filters': showFilter}">

    <svg class="filter-icon" role="img" title="filter" @click="revealFilters">
      <use xlink:href="./static/svg/svgstore.svg#filter"/>
    </svg>

    <ul class="filter-items" @click="onFilter($event)">

      <li>street</li>

      <li>people</li>

      <li>portrait</li>

      <li>black and white</li>

      <li>landscape</li>

    </ul>

  </div>


  <div class="gallery">


    <div v-for="item in final_data" class="gallery-item is-flexy">


      <div class="is-flexy is-column is-bottom is-right">

        <h5>{{ item.title }}</h5>

        <p class="is-text-right" v-html="item.description"></p>

      </div>


      <div class="gallery-item-img">

        <img  :alt=" item.title "
              v-lazy="item.image"
              sizes="100vw">

      </div>




    </div>



  </div>

</section>


<!--

 :src="'http://res.cloudinary.com/studio-nomade/image/upload/w_1000/' + item[0].title | sanitize "

<div class="gallery-item is-flexy">

      <div class="is-flexy is-column is-bottom is-right">

        <h5>The Old Man</h5>

        <p class="is-text-right">

          Cropchat users will be able to read a main flow of cat pictures,<br>
          open them to view details and post new cat pictures<br>
          internet, then from device drive or camera

        </p>

      </div>

      <div>

        <img src="https://drscdn.500px.org/photo/155389821/q%3D80_m%3D2000/74786dc988916d97a2dd583061b20027" alt="The Old Man">

      </div>

    </div>



    <div class="gallery-item is-flexy is-reverse">

      <div class="is-flexy is-column is-top is-left">

        <h5>Heading the infinity</h5>

        <p class="is-text-left">

          ... and beyond... users will be able to read a main flow of cat pictures,<br>
          open them to view details and post new cat pictures<br>
          internet, then from device drive or camera

        </p>


        <div class="row is-stick__bottom">

          <div class="is-flexy is-column is-bottom is-right">

            <h5>The Old Man</h5>

            <p class="is-text-right">

              Cropchat users will be able to read a main flow of cat pictures,<br>
              open them to view details and post new cat pictures<br>
              internet, then from device drive or camera <br><br><br>

            </p>

          </div>

          <div class="row">

            <img src="https://drscdn.500px.org/photo/156654925/q%3D80_m%3D2000/90686243382daf4ac0f4cd51e4b43442" alt="The Old Man">

          </div>

        </div>


      </div>

      <div>

        <img src="https://drscdn.500px.org/photo/155389827/q%3D80_m%3D1500/f07f66ead5a96f3866470210008faab6" alt="The Old Man">

      </div>

    </div>




    <div class="gallery-item is-flexy  is-wrap" style="flex-direction: column-reverse">

      <div class="is-flexy is-column is-top is-center is-full">
        <br><br>
        <h5>The Old Man</h5>

        <p class="is-text-center">

          Cropchat users will be able to read a main flow of cat pictures,<br>
          open them to view details and post new cat pictures<br>
          internet, then from device drive or camera

        </p>

      </div>

      <div class="is-full">

        <img src="https://drscdn.500px.org/photo/147717849/q%3D80_m%3D2000/9a1e76a8d88779d17999e6e88b690fca" alt="The Old Man">

      </div>

    </div>


    <div class="gallery-item is-flexy  is-wrap" style="flex-direction: column-reverse">

      <div class="is-flexy is-column is-top is-center is-full">
        <br><br>
        <h5>Cleaning Time</h5>

        <p class="is-text-center">

          Cropchat users will be able to read a main flow of cat pictures,<br>
          open them to view details and post new cat pictures<br>
          internet, then from device drive or camera

        </p>

      </div>

      <div class="is-full">

        <img src="http://res.cloudinary.com/studio-nomade/image/upload/w_1280/cleaning-time.png" alt="The Old Man">

      </div>

    </div>

-->