<section class="photography view ">

  <div class="filter" :class="{'show-filters': showFilter}"  @click="sheetVisible = true" v-click-outside="onCLickOutside">

    <svg class="filter-icon" role="img" title="filter" @click="revealFilters">
      <use xlink:href="./static/svg/svgstore.svg#filter"/>
    </svg>

    <ul class="filter-items" @click="onFilter($event)">

      <li>all</li>

      <li>urban</li>

      <li>people</li>

      <li>portrait</li>

      <li>bnw</li>

      <li>landscape</li>

    </ul>

  </div>


  <div class="gallery" id="gallery">



<!--
    <div class="row is-top">

      <div class="collection-frame">

        <img src="http://res.cloudinary.com/studio-nomade/image/upload/v1499293251/vietnamese-faces-series-2.jpg" alt="" class="portraits">




      </div>

      <div class="collection-frame">

        <img src="http://res.cloudinary.com/studio-nomade/image/upload/v1499284208/hidden-oxford-series-4.jpg" alt="" class="black-and-white">

      </div>

      <div class="collection-frame">

        <img src="http://res.cloudinary.com/studio-nomade/image/upload/v1499293250/landscape-series-1.jpg" alt="" class="landscape">
        <img src="http://res.cloudinary.com/studio-nomade/image/upload/v1499284201/bangkok-from-below-series-3.jpg" alt="" class="street">

      </div>



    </div>
-->






    <div v-for="item in filtered" class="gallery-item">


      <div class="caption">

        <h5>{{ item.title }}</h5>

        <!--<p class="is-text-right" v-html="item.description"></p>-->


        <div class="camera-settings">

          <span>{{ item.settings.camera }}</span>
          <span>{{ item.settings.lenses }}</span>

          <div class="lenses-settings">

            <span>{{ item.settings.focal_length }}mm</span>
            <span>ƒ/{{ item.settings.aperture }}</span>
            <span>{{ item.settings.shutter_speed }}s</span>
            <span>ISO {{ item.settings.iso }}</span>

          </div>


        </div>


      </div>


      <div class="img">

        <img v-lazy="item.image_url" alt="">

        <!--<img v-lazy="'https://res.cloudinary.com/studio-nomade/image/upload/w_2000/' + item.title"-->
             <!--:data-srcset="'https://res.cloudinary.com/studio-nomade/image/upload/w_800/' + item.title + ' 800w, ' +-->
                           <!--'https://res.cloudinary.com/studio-nomade/image/upload/w_1200/' + item.title + ' 1200w, ' +-->
                           <!--'https://res.cloudinary.com/studio-nomade/image/upload/w_2000/' + item.title + ' 2000w' "-->
             <!--sizes="(max-width: 984px) 100vw, 984px"-->
             <!--:alt="item.title"> &lt;!&ndash;v-parallax="0.1"&ndash;&gt;-->

      </div>


    </div>

  </div>


  <mt-actionsheet
          v-if="isMobile"
          :actions="actions"
          v-model="sheetVisible"
          cancelText="CANCEL">
  </mt-actionsheet>

</section>


<!--

 :src="'http://res.cloudinary.com/studio-nomade/image/upload/w_1000/' + item[0].title | sanitize "s

-->