.leftBar {

  float: left;

  position: fixed;

  left: 0;

  top: 0;

  z-index: 1000;

  width: 80px;

  height: 100vh;

  padding: 20px 15px 15px;

  background: #F2F2F2;

  border-right: 1px solid rgba(0,0,0,0.2);

  display: flex;

  align-items: flex-start;

  justify-content: flex-start;

  flex-wrap: wrap;

  transition: all .5s cubic-bezier(.51,.09,.42,.93) .1s;

  //overflow: hidden;


  &.menu-is-opened{

    width: 350px;

    //& + .home{
    //
    //  transform: translateX(350px);
    //
    //  @include tablet{
    //
    //    transform: translateY(250px);
    //
    //  }
    //
    //}

  }

  &-bottom{

    margin-top: auto;


    @include tablet{

      margin-top: 0;

      display: flex;

    }

  }



  @include tablet{

    width: 100vw;

    height: 50px;

    border-bottom: 1px solid rgba(0,0,0,0.2);

    border-right: 0;

    padding: 5px;


    &.menu-is-opened{

      width: 100vw;

      height: 300px;

    }

  }

}


