/* MAIN NAV*/
.mainNav{

  float: right;

  min-width: 100%;

  display: flex;

  flex-direction: column;

  align-items: flex-end;

  justify-content: center;

  margin-top: auto;

  margin-bottom: auto;

  overflow: hidden;


  // mate sure we hide the menu
  @include tablet{

    max-height: 0;

  }


  .menu-is-opened &{

   max-height: 400px;

  }


  a{

    font-size: 24px;

    font-family: 'vanadine';

    text-transform: uppercase;

    filter: blur(4px);

    opacity: 0;

    .menu-is-opened &{

      opacity: 1;

      filter: blur(0);

      transition: opacity .3s ease-in .6s, blur .3s ease-in .6s, color .3s ease-in 0s;


    }

  }


  @include tablet{

    min-width: 100%;

    align-items: center;

  }

}//.main-nav