/* SECONDARY NAV*/
.secondaryNav{

  float: left;

  width: 100%;

  display: flex;

  align-items: center;

  justify-content: space-around;

  margin-bottom: 30px;

  max-width: 200px;

}//.secondary-nav