.socialNav{

  float: left;

  width: 100%;

  display: flex;

  align-items: flex-start;

  justify-content: flex-start;

  flex-direction: column;

  margin-top: auto;


  a{

    padding: 10px;

    height: 45px;

  }


  svg{

    width: 25px;

    height: 25px;

  }



  @include tablet{

    position: fixed;

    top: 5px;

    right: 5px;

    width: auto;

    flex-direction: row;

    svg{

      width: 20px;

      height: 20px;

    }

  }

}//.social-nav