.features{

  float: left;

  width: 100%;

  padding: 40px 0;

  display: flex;

  align-items: flex-start;



  flex-wrap: wrap;


  &-item{

    float: left;

    margin-bottom: 80px;


    @include desktop_ultraHD{

      width: calc(20% - 30px);

      &:not(:nth-of-type(5n)){

        margin-right: 40px;

      }

    }

    @include desktop_HD{

      width: calc(25% - 50px);

      &:not(:nth-of-type(4n)){

        margin-right: 60px;

      }

    }


    @include desktop{

      width: calc(33% - 50px);

      &:not(:nth-of-type(3n)){

        margin-right: 50px;

      }

    }



    @include tablet{

      width: 100%;

      margin-right: 0;

    }



    div{

      position: relative;

      float: left;

      width: 100%;

      margin-bottom: 15px;

      display: flex;

      align-items: center;

      justify-content: flex-start;



      @include mobilePortrait{

        flex-direction: column;

        align-items: center;

        justify-content: center;

      }

    }


    svg{

      float: left;

      height: 40px;

      width: 40px;

      opacity: 1;

      margin: 0;

      &[title="collaboration"]{

        path{

          fill: none;

          stroke: $pink;

        }

      }

      path{

        fill: $pink;

      }

      @include mobilePortrait{

        margin-bottom: 20px;

      }

    }


    p{

      float: left;

      width: 100%;

      margin: 0 0 auto 0;

      padding: 0;

      text-align: justify;

      font-size: 16px;

      @include mobilePortrait{

        text-align: center;

      }

    }


    h5{

      float: left;

      margin: 0 0 0 15px;

      text-align: center;

      text-transform: capitalize;

      @include mobilePortrait{

        margin-left: 0;

      }


    }

  }

}