<section class="about view">

  <h1>about me</h1>

  <p class="is-text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris ligula, pharetra sed malesuada sed, vestibulum eu quam.
    Vestibulum nec mollis justo, quis blandit erat. Nullam efficitur a neque ut hendrerit. Duis eros enim, lacinia eu molestie vitae, gravida vel felis.
    <br><br>
    Quisque tristique sollicitudin justo vel bibendum. Integer id pharetra nibh, vel vehicula risus. Curabitur laoreet massa vel nulla fringilla, sit amet ornare quam lobortis.
    Fusce consectetur dui ac justo sollicitudin laoreet. Nulla ullamcorper, risus sit amet finibus ullamcorper, tellus elit ullamcorper lectus, nec congue ante velit vel sem.
  </p>

  <p class="is-text-center">

    In the past 3 years I had the opportunity to be part of great projects from different locations around the world. <br>

    I don't really like the idea of listing projects and clients or having case studies. I prefer to show my skills working and show casing personal
    projects and experiments on my Lab page. <br>

    I would like to share four cases tough, two of my firsts projects and two of the biggest clients I have worked with:

  </p>

</section>

